[Desktop Entry]
#Version=1.0
Type=Application
Name=Orange
Exec=/app/bin/run_orange.sh
Terminal=false
Icon=orange-canvas
Categories=Development;Education;
